body {
background-color:#f6f6f6;
}

p{
font-family:"Times New Roman";
font-size:20px;
}

#content {
font-family:"Times New Roman";
font-size:16px;
}

#wrapper {
  width: 350px;
  border-radius: 10px;
  border: 1px solid;
  margin: 0 auto;
  padding: 15px;
  font-family:"Times New Roman";
  font-size:20px;
  background-color:#FFAE00;
  text-align:left;
}

a:active {
  color: #afb231;
}
  
  
a:hover {
  color: #00210;
}

a:link {
  color: #af200f;
}

a:visited{
  color: #000123;
}
